@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
nav {
  display: flex;
  background-color: black;
  padding-inline: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
}

nav .left-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav .left-nav img {
  height: 40px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

nav a:hover {
  color: #eb374e;
}

nav .right-nav a {
  background-color: #eb374e;
  padding-inline: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
}

nav .right-nav a:hover {
  background-color: #d32139;
  color: white;
}

nav .right-nav .icon {
  display: none;
}

.personal {
  display: flex;
  padding-inline: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 32px;
}

.card {
  width: 450px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0px 0px 20px gray;
}

.card .image img {
  max-width: 100%;
  border-radius: 12px;
  margin: auto;
}

.card .header h1 {
  margin: 0;
  margin-top: 10px;
  font-size: 32px;
}

.card table {
  width: 100%;
  border: 1px solid gray;
  padding: 6px;
  border-collapse: collapse;
}

.card table tr th {
  font-weight: 600;
  padding: 6px;
  text-align: center;
}

.card table tr td {
  font-weight: 300;
  padding: 6px;
  text-align: center;
}

/* nth:child = pseudo class CSS untuk memilih
elemen yang punya posisi tertentu di dalam urutan
anak elemen.
argumen odd/even untuk milih elemen dengan
urutan ganjil/genap */
.card table tr:nth-child(even) {
  background-color: #ffced5;
}

.personal .right h2 {
  margin: 0;
}

.personal .right p {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

.personal .right .skill {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.personal .right .skill .frontend {
  border: 1px solid black;
  border-radius: 12px;
  padding: 16px;
  max-width: 360px;
}

.personal .right .skill img {
  width: 60px;
  height: 60px;
}

.personal .right .skill .backend {
  border: 1px solid black;
  border-radius: 12px;
  padding: 16px;
  max-width: 360px;
}

.personal .right .findme {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.personal .right .findme h2 {
  margin: 0;
}

.personal .right .findme .social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.personal .right .findme a img {
  width: 50px;
}

footer {
  display: flex;
  background-color: black;
  padding: 16px;
  justify-content: center;
  color: white;
}

footer span {
  color: #eb374e;
}

@media screen and (max-width: 768px) {
  nav {
    padding-inline: 16px;
  }

  nav .left-nav {
    gap: 20px;
  }
  nav .left-nav a img {
    height: 30px;
  }

  nav .right-nav a {
    display: none;
  }

  nav .right-nav .icon {
    display: block;
    background-color: black;
    padding: 0;
  }

  nav .right-nav .icon:hover {
    background-color: black;
  }

  .material-symbols-outlined {
    color: white;
  }

  .material-symbols-outlined:hover {
    color: #eb374e;
  }

  .personal {
    display: flex;
    flex-direction: column;
    padding-inline: 16px;
    justify-content: center;
    padding-bottom: 16px;
  }

  .personal .left {
    display: flex;
    justify-content: center;
  }

  .personal .right h1 {
    display: flex;
    justify-content: center;
  }

  .personal .right h2 {
    display: flex;
    justify-content: center;
  }

  .card {
    max-width: fit-content;
  }

  .personal .right .skill {
    justify-content: center;
  }

  .personal .right .findme .social {
    justify-content: center;
  }
}
